body {
    margin: 0 auto;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    background-color: #284861;
}

header {
    font-size: x-large;
    font-weight: 400;
    background-color: #A3353D;
    color: #D6D9F0;
}

